{
  "lastChangelogVersion": "0.69.0",
  "enableInstallTelemetry": false,
  "quietStartup": true,
  "collapseChangelog": true,
  "showHardwareCursor": true,
  "defaultProvider": "lmstudio",
  "defaultModel": "google/gemma-4-31b",
  "defaultThinkingLevel": "minimal",
  "hideThinkingBlock": false,
  "theme": "synthwave"
}
