[submodule "pi-mono"]
	path = references/pi-mono
	url = https://github.com/PlebeiusGaragicus/pi-mono.git
	branch = main
[submodule "references/qmd"]
	path = references/qmd
	url = https://github.com/tobi/qmd
[submodule "references/plannotator"]
	path = references/plannotator
	url = https://github.com/PlebeiusGaragicus/plannotator.git
	branch = main
[submodule "tools/pi-portal"]
	path = tools/pi-portal
	url = https://github.com/PlebeiusGaragicus/pi-portal.git
	branch = main
[submodule "references/feynman"]
	path = references/feynman
	url = git@github.com:PlebeiusGaragicus/feynman.git
